.product-details{
    margin-top: 50px;
}


.product-details p{
    color: black;
}

.product-details h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.product-rating span i {
    color: coral;
}

.product-rating p span{
    color: coral;
}

.price
{
    font-weight: 800;
}

.nav-active{
    background: var(--primary-color);
    color: #fff;
}

.Tab-pane p{
    color: black;
    font-weight: 400;
    margin: 30px;
    padding: 20px;
}
.review-rating
{
    color: coral;
}