.footer{
    background: var(--primary-color);
    color: #fff;
}

.brand-name
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quick-links
{
    margin: 20px;
}

li{
    margin: 10px 0;
    font-weight: 400;
}

p{
    margin: 10px 0;
    color: #fff;
    font-weight: 300;
}


p i{
    margin-right: 10px;
}